$icon-font-path: '../fonts/';
$enable-flex: true;
// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

// Import media queries
@import "partials/breakpoints";

// Import functions/config
@import "partials/functions";
@import "partials/config";
@import "partials/type";

// Import all partials for compile
@import "partials/hero";
@import "partials/nav";
@import "partials/slide";

// Import document wide rules
@import "partials/global";

img {
  pointer-events: none;
}