// Type/Color map
$colors: (
  hero-alpha: rgba(255,255,255, .34),
  grey: #A7A7A7,
  primary-blue: #31A3C4,
  secondary-blue: #A5D6E5,
  outline-blue: rgba(0, 202, 251, .25)
);

$fonts: (
  primary: #{'Monserrat', Helvetica, Arial, sans-serif }
);

$main-font: 'Lato', Helvetica, Arial, sans-serif;
