.hero {
  height: 98vh;
  min-height: 700px;
  width: 100%;
  z-index: 99;
  position: relative;
  background-color: white;
}

.hero-flex {
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title-text {
  margin-left: 5%;
  width: 60%;
  
  @include mobile {
    width: 100%;
  }
}

.title-primary {
  z-index: 99;
  position: relative;
  width: 515px;
  
  @include mobile {
    
  }
}

.title-description {
  margin-top: 1.5em;
  margin-bottom: 1.65em;
  width: 60%;
  
}

.title-parens {
  position: relative;
  z-index: 99;
  font-size: .6em;
  display: block;
  float: right;
  margin-top: 20px;
}

.year-flex {
  width: 70%;
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
}

.lines {
  width: 50%;
}

.title-year {
  font-size: 2em;
  margin-left: 1.75em;
  margin-top: .75em;
  color: color(primary-blue);
  text-align: center;
  
  border-bottom: 10px solid color(outline-blue);
}

.capital {
  width: 30%;
  margin-left: -10%;
}

.grey-logo {
  width: 10%;
  min-width: 200px;
  margin: 2em auto;
}

.timeline {
  border-right: 5px solid #eee;
  position: absolute;
  right: 10%;
  height: 600%;
  z-index: 98;
}