$bg: white;
 
/* Make each section 100% of the browser viewport height */
section {
  height: 90%;
  position: relative;
  text-align: center;
  
  .month-border {
    margin: 0 auto;
    position: relative;
    z-index: 99;
    display: table;
    border: 2em solid color(outline-blue);
    background: white;
    padding: 1em;
  }
  
  .innerS1 {
    position: relative;
    z-index: 99;
    margin: 0 auto;
    max-width: 35%;
  }
  
  h2 {
    margin: 0;
    text-align: center;
  }

  h1 {
    margin: 0;
    width: 100%;
    font-size: 3.75em !important;
    text-align: center;
  }

  strong {
    color: rgba(0, 0, 0, 0.9);
  }
  
  .innerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100px, -50%);
    text-align: left;
  }
  
  /* iPhone/Card positioned to the left - this is a default position */
  .iphone {
    z-index: 2;
    width: 70%;
    height: 300px;
    position: fixed;
    top: 65%;
    left: 0;
    right: 10%;
    margin: 0 auto;
    background-color: #eef;
    border: 2px dashed #eee;
  }
  
  .iphone h2, .iphone h1, .iphone p {
    text-align: left;
  }
  
  .iphone h1 {
    margin: .125em 0 .5em 0;
  }

  /* Centered content of the ScrollMagic card */
  .iphone p {
    margin: 0;
    font-size: 1.25em;
    font-weight: 400;
  }

  /* Letters hidden by default */
  .iphone p.screenA, .iphone p.screenB, .iphone p.screenC {
    opacity: 0;
    visibility: hidden;
  }

  /* ScrollMagic hat on top of letters */
  .iphone p.screenHat {
    z-index: 2;
  }
  .iphone p.screenHat img {
    max-width: 130px;
  }

  /* Bullet list */
  .features {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
  }
  .features li {
    position: relative;
    padding-left: 17px;
  }

  /* A heart instead of a bullet */
  .features li:before {
    content: '❤';
    font-size: 11px;
    position: absolute;
    left: 0;
    top: 5px;
    display: block;
    color: #ff466a;
  }
}

section#one { background-color: $bg; }
section#three {
  background-color: lighten($bg, 5%);
}
section#four {
  background-color:  darken($bg, 10%);
  transition: all 0.4s linear;
  &.is-active {
    background-color: #222222;
  }
}