$bg: white;
 
/* Make each section 100% of the browser viewport height */
section {
  height: 100%;
  position: relative;
  text-align: center;
  
  .month-border {
    border: 2em solid color(outline-blue);
    padding: 1em;
    margin: 0 auto;
    max-width: 35%;
  }
  
  h2 {
    margin: 0;
    text-align: center;
    position: relative;
  }

  h1 {
    margin: 0;
    width: 100%;
    font-size: 3.75em !important;
    text-align: center;
  }

  strong {
    color: rgba(0, 0, 0, 0.9);
  }
  
  .innerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100px, -50%);
    text-align: left;
  }
  
  /* iPhone/Card positioned to the left - this is a default position */
  .iphone {
    z-index: 2;
    width: 290px;
    height: 600px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -50%);
    background-color: #3757D0;
    background-image: -webkit-radial-gradient(#81bcff, #5d7fce);
    background-image: radial-gradient(#81bcff, #5d7fce);
  }

  /* Centered content of the ScrollMagic card */
  .iphone p {
    font-size: 140px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.9);
  }

  /* Letters hidden by default */
  .iphone p.screenA, .iphone p.screenB, .iphone p.screenC {
    opacity: 0;
    visibility: hidden;
  }

  /* ScrollMagic hat on top of letters */
  .iphone p.screenHat {
    z-index: 2;
  }
  .iphone p.screenHat img {
    max-width: 130px;
  }

  /* Bullet list */
  .features {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
  }
  .features li {
    position: relative;
    padding-left: 17px;
  }

  /* A heart instead of a bullet */
  .features li:before {
    content: '❤';
    font-size: 11px;
    position: absolute;
    left: 0;
    top: 5px;
    display: block;
    color: #ff466a;
  }
}

section#one { background-color: $bg; }
section#two { background-color: darken($bg, 10%); }
section#three {
  background-color: lighten($bg, 5%);
}
section#four {
  background-color:  darken($bg, 10%);
  transition: all 0.4s linear;
  &.is-active {
    background-color: #222222;
  }
}