@font-face {
  font-family: 'Monserrat';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

.font-primary {
  font-family: font(primary);
  color: color(primary-blue);
  font-weight: 900;
  font-size: 4em;
}

.font-secondary {
  font-family: font(primary);
  color: color(secondary-blue);
  font-weight: 900;
  font-size: 2.5em;
}

.description {
  font-family: font(primary);
  color: color(grey);
  font-weight: 700;
  font-size: 1.5em;
}