#one {
  padding-top: 20%;
}

#one {
  overflow: hidden;
  padding-top: 12%;
  border: 1px solid #eee;
  
  .circular-logo {
    padding: 20px;
    margin: 0 auto;
    width: 70%;
    max-width: 500px;
    
    position: relative;
    bottom: 0;
  }
  
  .circular-flex {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
//    align-items: center;
  }
}